* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: black;
    font-size: 17px;
}

body {
    background-color: #954B35;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bolder;
}

input[type="number"] {
    font-weight: bolder;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 15px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}


#btn_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn {
    padding: 15px 45px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    align-self: center;
    transition: .5s;
}

#btn:hover {
    padding: 15px 70px;
    background-color: rgb(141, 115, 235);
}

p {
    margin-bottom: 10px;
}

#center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}